[report]
omit = 
    */python?.?/*
    */site-packages/numpy/*
    */test/*
    */setup.py
    */setup_version.py
    /tmp/*
exclude_lines = 
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    @abstractmethod
