# python:
*.pyc

# OSX specific:
.Python
.DS_Store

# vim swap files
*.swp
*.swo
*~

# latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# for sphinx
docs/_build
docs/_static
docs/_templates

# for examples:
# md wca: energy and trajectory
examples/molecular_dynamics/md_wca/energy.dat*
examples/molecular_dynamics/md_wca/traj.gro*
# md nve: energy, thermo and trajectory
examples/molecular_dynamics/md_nve/energy.dat*
examples/molecular_dynamics/md_nve/thermo.txt*
examples/molecular_dynamics/md_nve/traj.gro*
# md movie 2D: energy and trajectory
examples/molecular_dynamics/md_movie_2d/energy.dat*
examples/molecular_dynamics/md_movie_2d/traj.gro*
# umbrella sampling, temp files for movie
examples/umbrella_sampling/fancy_movie/*.png
# tis, md-flux:
examples/tis/1D-double-well/md_flux/cross.dat
examples/tis/1D-double-well/md_flux/energy.dat
examples/tis/1D-double-well/md_flux/order.dat
examples/tis/1D-double-well/md_flux/traj.gro
examples/tis/1D-double-well/md_flux/*.png
examples/tis/1D-double-well/md_flux/*.txt.gz
examples/tis/1D-double-well/md_flux/report
# extending with fortran:
examples/extending/fortran/*/energy.dat*
examples/extending/fortran/*/thermo.txt*
examples/extending/fortran/*/traj.gro*
