[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           x,
           y,
           z,
           ax,
           _

ignored-modules=PyQt5, sklearn, pymol, graphviz, mdtraj
