numpy>=1.16.0
scipy>=1.1.0
matplotlib>=2.0.2
sphinx>=1.6.3
sphinx_bootstrap_theme>=0.6.0
jinja2>=2.9.6
docutils>=0.14
tqdm>=4.15.0
colorama>=0.3.9
pandas>=0.23.4
tables>=3.6.1
cython>=0.29
mdtraj>=1.9.3
